a
{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center; 


    width: 200px;
    height: 100px;
    line-height: 100px;
}

body
{
    background-color:rgb(43, 43, 43);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh
}

.btn1
{
color: #0e103d;
background-color: #ddc52c;
border-radius: 50px;
box-shadow: inset 0 0 0 0 #dbd3d1;
transition: ease-in 0.1s;
outline: none;
}


.btn1:hover
{
box-shadow: inset 200px 0 0 0 #dbd3d1;
color: #895737;
}